.header {
    background-color: rgb(234 233 229 / 80%);
    color: #323232;
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    
    .header__content {
        max-width: 1330px;
        padding: 0 15px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .right__side {
            display: flex;
            gap: 15px;
        }

        .left__side {

        }
    }
}