.header {
	background-color: #181818;
	color: #ebebeb;
	height: 60px;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 10000;

	.header__content {
		max-width: 1330px;
		padding: 0 15px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.right__side {
			display: flex;
			gap: 15px;
		}

		.left__side {
			a {
				display: flex;
				padding: 5px 20px;
				background: #2c974b;
				border-radius: 6px;
			}
		}
	}
}
