.masthead {
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
	max-width: 700px;
	margin: 94px auto;

	h1 {
		font-size: 72px;
		background: linear-gradient(45deg, #00d2ff, #ff91dd, #ff7663);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		line-height: 82px;
	}

	p {
		font-size: 16px;
		color: #acacac;
	}
}

.subscription {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 530px;
	width: 100%;
	border: 1px solid #2e2e2f;
	border-radius: 6px;
	padding: 24px;
	background-color: #0d0d0d;
	text-align: center;
	transition: all 0.2s ease;
	margin: auto;

	.subscription__title {
		padding: 30px;
		display: flex;
		flex-direction: column;
		gap: 8px;

		h1 {
			font-size: 48px;
			background: linear-gradient(180deg, #000, #fff, #000);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		span {
			font-size: 16px;
			color: #acacac;
			margin-bottom: 10px;
		}

		.product__option,
		.product__option__active {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
			padding: 10px 20px;
			border-radius: 6px;
			user-select: none;
			transition: all 0.2s;
			border: 0;
			margin: 0;
			cursor: pointer;

			&:hover {
				background-color: #191919;
			}

			p {
				font-size: 14px;
				font-weight: 500;
				text-align: left;
				margin-bottom: 5px;

				&:last-child {
					color: #acacac;
				}
			}

			.price {
				display: flex;
				align-items: flex-start;
				gap: 5px;
				margin-bottom: 5px;

				h2 {
					font-weight: 500;
				}

				span {
					color: white;
				}
			}
		}

		.product__option__active {
			background-color: #191919;
		}

		.price__wrap {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 10px 20px;

			p {
				font-weight: 400;
				font-size: 14px;
				text-align: left;
				color: #acacac;
			}

			.price {
				display: flex;
				align-items: center;
				gap: 10px;
				width: 100%;

				span {
					font-size: 20px;
				}

				h2 {
					font-weight: 500;
					font-size: 48px;
				}

				p {
					text-decoration: line-through;
					font-size: 16px;
					color: #acacac;
				}

				.percent {
					background-color: #fff;
					color: #0a0a0a;
					padding: 2px 10px;
					border-radius: 6px;
				}
			}
		}

		.subscribe {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			padding: 0 20px;
			background-color: #191919;
			border-radius: 20px;
			width: fit-content;
			margin: auto;
			height: 44px;
			border: 0;
			margin-top: 8px;
			cursor: pointer;
		}
	}
}

.privileges__list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	border-radius: 0 0 6px 6px;
	height: 100%;
	max-width: 1060px;
	margin: 30px auto;

	.left__side,
	.right__side {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 86px 48px;
	}

	.left__side {
		.demonstration__blocks {
			display: flex;
			width: 100%;
			max-width: 518px;
			flex-direction: column;
			gap: 160px;

			.page__wrap {
				display: flex;
				flex-direction: column;
				max-width: 64%;
				width: 100%;

				.input {
					width: 100%;
					border: 1px solid #2e2e2f;
					border-radius: 3px;
					height: 15px;

					margin-bottom: 10px;
				}

				.movie__wrap {
					display: flex;
					flex-wrap: wrap;
					gap: 4px;

					.movie {
						width: 18.93%;
						height: 70px;
						border-radius: 3px;
						background-color: #2e2e2f;
					}
				}
			}
		}
	}

	.lines {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 1px;

		.gradient__line {
			width: 1px;
			height: 100px;
			background: linear-gradient(#0a0a0a, #444);
			margin-bottom: 4px;
		}

		.gradient__line__last {
			width: 1px;
			background: linear-gradient(#444, #5b61eb);
			height: 265px;
		}

		.circle {
			width: 11px;
			height: 11px;
			background-color: #111;
			border: 1px solid #2e2e2f;
			border-radius: 50%;
			left: 1px;
			margin-bottom: 4px;
		}

		.circle__last {
			width: 40px;
			height: 40px;
			background-color: #5b61eb;
			border: 0;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.line {
			height: 400px;
			border-right: 1px dashed #444;
			margin-bottom: 4px;
		}
	}

	.right__side {
		display: flex;
		flex-direction: column;
		gap: 160px;

		.right__side__item {
			display: flex;
			flex-direction: column;
			gap: 10px;
			height: 260px;

			.icon {
				width: 40px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 8px;
				background-color: #191919;
				user-select: none;
			}

			h5 {
				color: white;
				font-size: 22px;
				font-weight: 500;
			}

			p {
				font-size: 14px;
				color: #acacac;
			}
		}
	}
}

.go__up {
	width: fit-content;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px 20px;
	background-color: #5b61eb;
	border: 0;
	border-radius: 6px;

	&:first-child {
		background-color: #5b61eb;
		border: 0;
	}
}
