.masthead {
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
	max-width: 700px;
	margin: 94px auto;

	h1 {
		font-size: 72px;
		background: linear-gradient(45deg, #00d2ff, #ff91dd, #ff7663);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		line-height: 82px;
	}

	p {
		font-size: 16px;
		color: #acacac;
	}
}

.subscription {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 530px;
	width: 100%;
	border: 1px solid #2e2e2f;
	border-radius: 6px;
	padding: 24px;
	background-color: #0d0d0d;
	text-align: center;
	transition: all 0.2s ease;
	margin: auto;

	.subscription__title {
		padding: 30px;
		display: flex;
		flex-direction: column;
		gap: 8px;

		h1 {
			font-size: 48px;
			background: linear-gradient(180deg, #000, #fff, #000);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		span {
			font-size: 16px;
			color: #acacac;
			margin-bottom: 10px;
		}

		.product__option,
		.product__option__active {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
			padding: 10px 20px;
			border-radius: 6px;
			user-select: none;
			transition: all 0.2s;
			border: 0;
			margin: 0;
			cursor: pointer;

			&:hover {
				background-color: #191919;
			}

			p {
				font-size: 14px;
				font-weight: 500;
				text-align: left;
				margin-bottom: 5px;

				&:last-child {
					color: #acacac;
				}
			}

			.price {
				display: flex;
				align-items: flex-start;
				gap: 5px;
				margin-bottom: 5px;

				h2 {
					font-weight: 500;
				}

				span {
					color: white;
				}
			}
		}

		.product__option__active {
			background-color: #191919;
		}

		.price__wrap {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 10px 20px;

			p {
				font-weight: 400;
				font-size: 14px;
				text-align: left;
				color: #acacac;
			}

			.price {
				display: flex;
				align-items: center;
				gap: 10px;
				width: 100%;

				span {
					font-size: 20px;
				}

				h2 {
					font-weight: 500;
					font-size: 48px;
				}

				p {
					text-decoration: line-through;
					font-size: 16px;
					color: #acacac;
				}

				.percent {
					background-color: #fff;
					color: #0a0a0a;
					padding: 2px 10px;
					border-radius: 6px;
				}
			}
		}

		.subscribe {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			padding: 0 20px;
			background-color: #191919;
			border-radius: 20px;
			width: fit-content;
			margin: auto;
			height: 44px;
			border: 0;
			margin-top: 8px;
			cursor: pointer;
		}
	}
}
