.main {
	max-width: 1330px;
	margin: 20px auto auto;
	padding: 0 20px;
	border-radius: 6px;

	.page__wrap {
		display: flex;
		justify-content: space-between;

		.search {
			display: flex;
			flex-direction: column;
			gap: 24px;
			min-width: 222px;
			margin-right: 52px;
			height: fit-content;

			.input {
				display: flex;
				align-items: center;
				border: 1px solid #2e2e2f;
				border-radius: 6px;

				img {
					margin: 0 0 0 12px;
				}

				input {
					height: 40px;
					border: 0;
					border-radius: 0;

					&::placeholder {
						font-size: 14px;
					}
				}
			}

			.filter {
				display: flex;
				flex-direction: column;

				button {
					display: flex;
					align-items: center;
					gap: 10px;
					background-color: transparent;
					border: 0;
					border-top: 1px solid #2e2e2f;
					padding: 1px 6px;
					text-align: left;
					height: 54px;
					font-size: 14px;
					cursor: pointer;
				}
			}
		}

		.cards__wrap {
			display: flex;
			flex-wrap: wrap;
			gap: 28px;
			max-width: 1016px;

			.card {
				max-width: 320px;
				a {
					display: block;

					img {
						width: 100%;
						background-repeat: no-repeat;
						object-fit: cover;
						border-radius: 6px;
					}

					p,
					h3 {
						width: 320px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					h3 {
						margin: 10px 0;
						font-size: 16px;
					}

					p {
						font-size: 14px;
					}
				}
			}
		}
	}
}
