.main {
	display: flex;
	max-width: 1330px;
	margin: 20px auto auto;
	padding: 0 20px;
	border-radius: 6px;
	gap: 20px;

	.page__wrap {
		display: flex;

		.search {
			display: flex;
			flex-direction: column;
			gap: 24px;
			width: 222px;
			margin-right: 52px;
			height: fit-content;

			input {
				height: 40px;

				&::placeholder {
					font-size: 14px;
				}
			}

			.filter {
				display: flex;
				flex-direction: column;

				button {
					background-color: transparent;
					border: 0;
					border-top: 1px solid #2e2e2f;
					padding: 1px 6px;
					text-align: left;
					height: 54px;
					font-size: 14px;
					cursor: pointer;
				}
			}
		}

		.cards__wrap {
			display: flex;
			flex-wrap: wrap;
			gap: 24px;
			max-width: 990px;

			a {
				height: 100%;
				img {
					height: 100%;
					background-repeat: no-repeat;
					border-radius: 6px;
				}
			}
		}
	}
}
