.container {
	max-width: 2500px;
	min-height: 100vh;
	margin: auto;
	background-color: #0a0a0a;

	.main {
		max-width: 1330px;
		margin: auto;
		padding: 0 15px;

		h1 {
			color: #ebebeb;
		}

		p {
			color: #ebebeb;
			max-width: 640px;
		}
	}
}
