.masthead {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	gap: 48px;
	padding: 105px 0px 85px;
	max-height: 1080px;
	height: calc(100vh - 60px);

	.row__wrap {
		display: flex;
		gap: 48px;

		h1 {
			max-width: 680px;
			font-weight: 500;
			font-size: 60px;
			line-height: 80px;
		}

		.selection {
			color: #5b61eb;
		}

		.cursive {
			font-family: 'Fasthand', cursive;
			color: #5b61eb;
		}
	}

	p {
		font-size: 24px;
		max-width: 680px;
		color: #cdcdcd;
	}

	a {
		display: flex;
		gap: 5px;
		align-items: center;
		background-color: #5b61eb;
		border: 1px solid #5b61eb;
		border-radius: 6px;
		padding: 10px 35px;
		font-size: 20px;
		cursor: pointer;

		&:hover {
			box-shadow: 0 0 8px 0 #5b61eb;
			transition: all 0.2s;
		}
	}
}

.white__section {
	min-height: 1080px;
	background-color: #ebeff2;
}

@media screen and (max-width: 768px) {
	.masthead {
		h1 {
			font-size: 48px !important;
			line-height: normal !important;
		}

		p {
			font-size: 20px;
		}
	}
}

@media screen and (max-width: 425px) {
	.masthead {
		h1 {
			font-size: 36px !important;
		}

		p {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 375px) {
	.masthead {
		gap: 20px; 
		
		h1 {
			font-size: 26px !important;
		}

		a {
			padding: 5px 15px;
		}
	}
}