.masthead {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	gap: 48px;
	max-height: 1080px;
	height: calc(100vh - 60px);

	.row__wrap {
		display: flex;
		gap: 48px;
		margin: auto;
		max-width: 900px;

		.masthead__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			h1 {
				max-width: 680px;
				font-weight: 500;
				font-size: 72px;
				line-height: 80px;
				font-family: 'Caveat', cursive;
				color: #5b61eb;
			}

			.column__content {
				display: flex;
				flex-direction: column;
				font-size: 32px;
				font-weight: 500;
				align-items: center;

				.words {
					overflow: hidden;
					height: 66px;

					p {
						height: 100%;
						color: #5b61eb;
						animation: spin-words 10s ease infinite;
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}

				@keyframes spin-words {
					0%,
					100% {
						top: 0;
					}

					20% {
						top: 0;
					}

					25% {
						top: -66px;
					}

					45% {
						top: -66px;
					}

					50% {
						top: -132px;
					}

					70% {
						top: -132px;
					}

					75% {
						top: -198px;
					}

					95% {
						top: -198px;
					}
				}
			}

			p {
				font-weight: 500;
			}

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;
				padding: 5px 20px;
				border-radius: 6px;
				font-size: 16px;
				border: 2px solid #5b61eb;
				box-shadow: 0 0 6px 0 rgba(91 97 235 / 60%);

				cursor: pointer;

				&:hover {
					box-shadow: 0 0 6px 0 rgba(91 97 235 / 100%);
					transition: all 0.2s;
					background-color: #5b61eb;
				}
			}
		}
	}
}

.white__section {
	min-height: 1080px;
	background-color: #ebeff2;
}

@media screen and (max-width: 768px) {
	.masthead {
		h1 {
			font-size: 48px !important;
			line-height: normal !important;
		}

		p {
			font-size: 20px;
		}
	}
}

@media screen and (max-width: 425px) {
	.masthead {
		h1 {
			font-size: 36px !important;
		}

		p {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 375px) {
	.masthead {
		gap: 20px;

		h1 {
			font-size: 26px !important;
		}

		a {
			padding: 5px 15px;
		}
	}
}
