.main {
	max-width: 1330px;
	margin: 60px auto;
	color: #acacac;
	padding: 28px 20px;
	border-radius: 6px;

	.masthead {
		max-width: 685px;
		margin: 40px auto 100px auto;
		text-align: center;

		h1 {
			margin: 0 0 30px;
			color: white;
			font-size: 48px;
		}

		p {
			color: inherit;
			margin-bottom: 40px;
			color: white;
		}
	}

	.sort {
		display: flex;
		gap: 10px;
		color: white;
		margin-bottom: 20px;

		p {
			cursor: pointer;
		}

		.active {
			text-decoration: underline;
		}
	}
}

.card__wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;

	.card {
		display: flex;
		flex-direction: row;
		position: relative;
		max-width: 630px;
		width: 100%;

		img {
			height: 100% !important;

			&:hover {
				filter: brightness(0.8);
				transition: all 0.15s;
			}
		}

		.card__score {
			background-color: #32ba43;
			padding: 2px 6px;
			font-weight: 500;
			color: #fff;
			border-radius: 4px;
			user-select: none;
		}

		.card__content {
			gap: 10px;
			padding: 0 20px;
			display: flex;
			flex-direction: column;
			align-items: baseline;
			width: 100%;

			.card__content__row {
				display: flex;
				align-items: center;
				gap: 10px;
				width: 100%;

				h2 {
					font-size: 16px;
					display: flex;
					align-items: center;
					font-weight: 400;
					width: 100%;
					color: #ebebeb;
					padding: 5px 0;
				}
			}

			.card__content__column {
				display: flex;
				flex-direction: column;
				gap: 10px;
				width: 100%;

				p {
					margin: 0;
					height: 100%;
					color: inherit;
					padding: 5px 0;
				}
			}

			button {
				padding: 5px 10px;
				background-color: transparent;
				color: inherit;
				border: 0;
				display: flex;
				gap: 5px;
				user-select: none;
				cursor: pointer;
			}
		}
	}
}

.image {
	border-radius: 6px;
	user-select: none;
}

@keyframes shine {
	to {
		background-position-x: -200%;
	}
}

@media screen and (max-width: 1320px) {
	.masthead {
		margin: auto;
	}

	.card__wrap {
		max-width: 630px;
		margin: auto;
	}
}

@media screen and (max-width: 425px) {
	.card {
		flex-direction: column !important;
		gap: 20px;
	}

	.card__content {
		padding: 0 0 10px !important;
		border-bottom: 1px solid #333;
	}
}
