.movie {
	display: flex;
	gap: 50px;
	margin-top: 60px;

	span {
		border-radius: 6px;
	}

	.movie__rightside {
		display: flex;
		flex-direction: column;
	}

	.movie__content {
		display: flex;
		flex-direction: column;
		max-width: 600px;
		width: 100%;
		gap: 50px;

		.movie__masthead__content {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 450px;
	
			h1 {
				margin: 0;
				font-size: 40px;
				margin-bottom: 10px;
			}
	
			span {
				color: #acacac;
				display: flex;
				align-items: center;
				gap: 10px;
			}
	
			.age {
				border: 1px solid #acacac;
				color: #acacac;
				border-radius: 3px;
				padding: 1px 3px 0;
				font-size: 11px;
				font-weight: 500;
			}
	
			button {
				display: flex;
				gap: 5px;
				padding: 5px 10px;
				background-color: transparent;
				color: #acacac;
				border: 0;
				margin-top: 20px;
				cursor: pointer;
				user-select: none;
			}
	
			h2 {
				font-size: 24px;
				color: #ebebeb;
				margin-bottom: 10px;
			}
	
			.about__movie {
				display: flex;
				padding: 8px 0;
	
				span {
					color: #ebebeb;
					font-size: 14px;
	
					&:first-child {
						max-width: 160px;
						width: 100%;
						color: #acacac;
					}
				}

				&:last-child {
					padding-bottom: 0;
				}
			}
		}
		
		.video {
			max-width: 600px;
			width: 100%;

			video {
				width: 100%;
				height: 100%;
				border-radius: 6px;

				&:focus-visible {
					outline: 0;
				}
			}
		}
	}
}
