@import './public/fonts/fonts.scss';
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Mont';
	scroll-behavior: smooth;
}

html {
	color-scheme: dark;
}

body {
	color: white;
	background: #5b61eb;
}

button,
input {
	font-family: 'Mont';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

hr {
	width: 100%;
	margin: 10px 0;
	border: 1px solid #2e2e2e;
}

