@import "./public/fonts/fonts.scss";

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Mont";
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: #eae9e5;
	}
}
