@import './public/fonts/fonts.scss';

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Mont';
	scroll-behavior: smooth;
}

button,
input {
	font-family: 'Mont';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

hr {
	width: 100%;
	margin: 10px 0;
	border: 1px solid #2e2e2e;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: #009688;
	}
}

@media (prefers-color-scheme: light) {
	html {
		color-scheme: light;
	}

	body {
		color: white;
		background: white;
	}
}
